html,
body {
  height: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
  .hero {
    background-color: $principal_color;
    height: max-content;
    flex: 1 1 auto;
    h1 {
      font-weight: 300;
    }
    color: white;
  }
  footer {
    flex: 0 1 40px;
    background-color: $color-dark;
    color: white;

    li {
      font-weight: 300;
    }
  }
}

footer,
section {
  padding: 1rem 2rem;
}
