html,
body {
  height: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
  .hero {
    padding: 4rem 2rem;
    background-color: $principal_color;
    height: max-content;
    flex: 1 1 auto;
    * {
      font-size: 3.6rem;
    }
    &_content {
      color: white;
      font-weight: 300;
      .word {
        opacity: 0;
        &--hightlight {
          color: $tertiary_color;
          font-weight: normal;
        }
      }
    }
    .attributes {
      position: relative;
      &-elements {
        position: absolute;
      }
    }
  }
  footer {
    flex: 0 1 40px;
    background-color: $color-dark;
    color: white;

    li {
      font-weight: 300;
    }
  }
}

footer,
section {
  padding: 1rem 2rem;
}
